/* Общие стили */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  color: #333;
}

a {
  color: #007bff;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Стили для заголовка */

header {
  background-color: #f2f2f2;
  padding: 20px;
}

/* Стили для навигации */

nav {
  background-color: #333;
}

nav ul {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  color: #fff;
}

/* Стили для основного содержимого */

main {
  padding: 20px;
}

section {
  margin-bottom: 30px;
}

h2 {
  margin-bottom: 10px;
}

.image-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.image-gallery img {
  width: 100%;
  height: auto;
}

.testimonial {
  background-color: #f2f2f2;
  padding: 20px;
  margin-bottom: 20px;
}

.testimonial blockquote {
  font-style: italic;
}

.testimonial cite {
  font-weight: bold;
}

/* Стили для подвала */

footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}
